<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Lista de destacados</h1>

<p></p>

<a th:href="@{/excursiones/destacados}">Destacados</a>
<a th:href="@{/excursiones/creados}">Creados</a>
<a th:href="@{/excursiones/terminados}">Terminados</a>
	<table border="2">
		<tr>
			<th>Descripción</th>
			<th>Destacado</th>
			<th>Precio</th>
			<th>Detalle</th>
			



		<tr>

		<tr th:each="ele: ${destacados}">
			<td th:text="${ele.descripcion}"></td>
			<td th:text="${ele.destacado}"></td>
			<td th:text="${ele.precioUnitario}"></td>
			<td><a th:href="@{/excursiones/detalle/{id}(id=${ele.idExcursion})}">Detalle</a></td>
			

		</tr>

	</table>
	<p><a th:href="@{/}">Volver</a></p>


</body>
</html>