<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de la Excursión</title>
</head>
<body>

    <h1>Detalle de la excursión</h1>

    <table border="2">
        
       
            <tr>
                <td>Descripción</td>
                <td th:text="${excursion.descripcion}"></td>
            </tr>
            <tr>
                <td>ID Excursión</td>
                <td th:text="${excursion.idExcursion}"></td>
            </tr>
            <tr>
                <td>Origen</td>
                <td th:text="${excursion.origen}"></td>
            </tr>
            <tr>
                <td>Destino</td>
                <td th:text="${excursion.destino}"></td>
            </tr>
            <tr>
                <td>Duración</td>
                <td th:text="${excursion.duracion}"></td>
            </tr>
            <tr>
                <td>Estado</td>
                <td th:text="${excursion.estado}"></td>
            </tr>
            <tr>
                <td>Aforo Máximo</td>
                <td th:text="${excursion.aforoMaximo}"></td>
            </tr>
            <tr>
                <td>Mínimo Asistentes</td>
                <td th:text="${excursion.minimoAsistentes}"></td>
            </tr>
            <tr>
                <td>Precio Unitario</td>
                <td th:text="${excursion.precioUnitario}"></td>
            </tr>
            <tr>
                <td>Imagen</td>
                <td th:text="${excursion.imagen}"></td>
            </tr>
            <tr>
                <td>fechaExcursion</td>
                <td th:text="${excursion.fechaExcursion}"></td>
            </tr>
            <tr>
                <td>fechaAlta</td>
                <td th:text="${excursion.fechaAlta}"></td>
            </tr>
       
    </table>

    <p><a th:href="@{/}">Volver</a></p>

</body>
</html>
